<launch>
  <arg name="camera" default="/stereo_down" />
  <arg name="image" default="image_rect_color" />
  <arg name="decimation" default="2" />
  <arg name="format" default="%06i.png" />


  <!-- Image Processing -->
  <node pkg="image_proc" type="image_proc" name="image_proc" ns="$(arg camera)" />

  <!-- grab class 1
  <node pkg="image_view" type="extract_images" name="extractor_c2" output="screen" >
    <remap from="image" to="$(arg camera)/scaled_x2/left/class_2" />
    <param name="filename_format" value="c2_$(arg format)" />
    <param name="sec_per_frame" value="0.0" />
  </node> -->

  <!-- grab overlayed 
  <node pkg="image_view" type="extract_images" name="extractor_c2_ov" output="screen" >
    <remap from="image" to="$(arg camera)/scaled_x2/left/class_2_overlayed" />
    <param name="filename_format" value="c2_ov_$(arg format)" />
    <param name="sec_per_frame" value="0.0" />
  </node>-->

 <!-- grab images to segment 
  <node pkg="image_view" type="extract_images" name="extractor_img" output="screen" >
    <remap from="image" to="$(arg camera)/scaled_x2/left/segmented" />
    <param name="filename_format" value="img_$(arg format)" />
    <param name="sec_per_frame" value="0.0" />
  </node>-->

 <!-- grab images raw 
  <node pkg="image_proc" type="image_proc" name="image_proc" ns="$(arg camera)/left" />
  <node pkg="image_view" type="extract_images" name="extractor_raw" output="screen" >
    <remap from="image" to="$(arg camera)/left/image_rect_color" />
    <param name="filename_format" value="raw_$(arg format)" />
    <param name="sec_per_frame" value="0.0" />
  </node>-->

</launch>